* {
  margin: 0;
}

body {
  padding-bottom: 50px;
}

.App {
  text-align: center;
}

p {
  font-size: larger;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

span {
  font-size: medium;
  font-weight: 300;
}

.app-header-title {
  display: block;
  width: 100%;
  height: 100px;
  background: linear-gradient(90deg, #99f6e4 0%, #a7f3d0 100%);
  border-bottom: 1px solid #d6d3d1;
  padding-top: 10px;
  box-shadow:  0 11px 35px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 50px;
}

.app-header-title__head {
  color: #333;
  letter-spacing: 1.5px;
  font-weight: bold;
}

.app-header-title__desc {
  color: #333;
  font-weight: 500;
}

.name {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
}

.username {
  font-size: 16px;
  color: #858585;
  margin-bottom: 5px;
}

.list {
  padding: 10px 5px;
  border-bottom: 1px solid #c3c3c3;
}

.button {
  border-radius: 20px;
  background-color: #99f6e4;
  color: #333;
  padding: 10px 20px;
  outline: none;
  border: navajowhite;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.button:hover {
  background-color: #a7f3d0;
}