* {
  margin: 0;
}

body {
  padding-bottom: 50px;
}

.App {
  text-align: center;
}

p {
  font-size: larger;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

span {
  font-size: medium;
  font-weight: 300;
}

.app-header-title {
  display: block;
  width: 100%;
  height: 100px;
  background: linear-gradient(90deg, #99f6e4 0%, #a7f3d0 100%);
  border-bottom: 1px solid #d6d3d1;
  padding-top: 10px;
  box-shadow:  0 11px 35px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 50px;
}

.app-header-title__head {
  color: #333;
  letter-spacing: 1.5px;
  font-weight: bold;
}

.app-header-title__desc {
  color: #333;
  font-weight: 500;
}

.post {
  display: flex;

  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}
.post-enter {
  transform: translateX(-350px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-350px);
  transition: 500ms ease-in;
}
.page__wrapper {
  margin-top: 30px;
  display: flex;
}
.page {
  padding: 10px;
  border: 1px solid teal;
  cursor: pointer;
}
.page__current {
  border: 2px solid orange;
  font-weight: bold;
}

.margin {
  margin: 100px;

}