* {
  margin: 0;
}

body {
  padding-bottom: 50px;
}

.App {
  text-align: center;
}

p {
  font-size: larger;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

span {
  font-size: medium;
  font-weight: 300;
}

.app-header-title {
  display: block;
  width: 100%;
  height: 100px;
  background: linear-gradient(90deg, #99f6e4 0%, #a7f3d0 100%);
  border-bottom: 1px solid #d6d3d1;
  padding-top: 10px;
  box-shadow:  0 11px 35px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 50px;
}

.app-header-title__head {
  color: #333;
  letter-spacing: 1.5px;
  font-weight: bold;
}

.app-header-title__desc {
  color: #333;
  font-weight: 500;
}

.books {
  border: 2px solid #a7f3d0;
  border-radius: 30px;
  margin-bottom: 50px;
}

.book {
  margin-bottom: 15px;
}

.book-title {
  color: #333;
  letter-spacing: 1.5px;
  font-weight: bold;
}

.book-buttom {
  background: linear-gradient(90deg, #99f6e4 0%, #a7f3d0 100%);
  padding: 10px;
  border: none;
  border-radius: 30px;
  color: #333333;
  letter-spacing: 1.1px;
  font-weight: 600;
  width: 150px;
  margin-left: 20px;
  cursor: pointer;
}

.book-buttom:hover {
  transition: all ease-in-out 0.3s;
  background: linear-gradient(90deg, #5eead4 0%, #6ee7b7 100%);
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mb-container {
  margin-bottom: 50px;

}

.gap-posts {
  width: 800px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  margin-top: 25px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.input-name {
  display: flex;
  height: 24px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border: 1px solid #DFDFDF;
  border-radius: 35px;
  font-size: 16px;
  padding: 15px 20px;
}

.input-comment {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border: 1px solid #DFDFDF;
  border-radius: 35px;
  font-size: 16px;
  padding: 15px 20px;
}