body {
  padding-bottom: 50px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


p {
  font-size: larger;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

span {
  font-size: medium;
  font-weight: 300;
}

.space-beet {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 700px;
  margin-right: 700px;
}

.name {
  font-size: larger;
  color: #9A3B3B;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.person {
  border: solid 2px #FF9B50;
}

.age,
.email {
  font-size: medium;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: #79155B;
}

.sapec {
  display: flex;
  margin-left: 800px;
  margin-right: 700px;
  justify-content: space-between;
}

.borderMap {
  border: solid 1px #282c34;

  margin: auto;
  width: 550px;
  padding: 10px 10px;
  margin-bottom: 10px;
}

.btnClick {
  background: #FF9B50;
  border-radius: 15px;
  padding: 15px 20px;
  text-decoration: none;
  border: none;
  color: aliceblue;
  font-size: medium;
  font-weight: 400;
  cursor: pointer;
  margin-left: 30px;
}

.inpText {
  padding: 12px 10px;
  width: 200px;
  font-size: medium;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 12px;
  text-decoration: none;
}